__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/
.mypy_cache/
.ruff_cache/
.git/
.gitignore
.github/
.env
.env.*
data/
postgres-deploy/data/
privacy_policy/
opensource_asset_manager_flutter/
android-app/
screenshots/
vendor/
logs/
README.md
docker-compose.yaml
